////////////////////////////////////////////////////////
//----------------Vendor Dependencies----------------//
//////////////////////////////////////////////////////

@import (reference) "../../proximity";

// responsive layouts
// .responsive issh here

.og-section {
	.make-container(
		@direction: rtl,
		@gutters: 15px,
		@max-width: 980px
	);

	&_main {
		.make-column(9, full);
		min-height: 100vh;
		border: 1px solid red;

		&-vertical {
			.make-row();
			height: 20vh;
			.center(column);
			background: lightgray;
		}

	}
	&_aside {
		.make-column(3, full);
		min-height: 100vh;
		border: 1px solid red;
	}
}



