* {
  min-height: 100vh;
}
.og-section {
  padding-right: 15px;
  padding-left: 15px;
  max-width: 980px;
  *zoom: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .og-section > * {
    float: right !important;
  }
}
.og-section:before,
.og-section:after {
  content: " ";
  display: table;
  line-height: 0;
}
.og-section:after {
  clear: both;
}
.og-section_main {
  min-height: 1px;
  padding-left: 0;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 50vh;
  border: 1px solid red;
}
@media (min-width: 768px) {
  .og-section_main {
    float: left;
    width: 25%;
  }
}
.og-section_aside {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 50vh;
  border: 1px solid red;
}
@media (min-width: 768px) {
  .og-section_aside {
    float: left;
    width: 75%;
  }
}
