.og-section {
  padding-right: 15px;
  padding-left: 15px;
  max-width: 980px;
  *zoom: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .og-section > * {
    float: right !important;
  }
}
.ie8 .og-section > * {
  float: right !important;
}
.og-section:before,
.og-section:after {
  content: " ";
  display: table;
  line-height: 0;
}
.og-section:after {
  clear: both;
}
.og-section_main {
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100vh;
  border: 1px solid red;
}
@media (min-width: 768px) {
  .og-section_main {
    float: left;
    width: 75%;
  }
}
.ie8 .og-section_main {
  float: left;
  width: 75%;
}
.og-section_main-vertical {
  *zoom: 1;
  height: 20vh;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -ms-filter: 'progid:DXImageTransform.Microsoft.Matrix(M11=0.5, M12=0, M21=0, M22=0.5,  SizingMethod="auto expand")';
  transform: translateY(-50%);
  background: lightgray;
}
.og-section_main-vertical:before,
.og-section_main-vertical:after {
  content: " ";
  display: table;
  line-height: 0;
}
.og-section_main-vertical:after {
  clear: both;
}
.og-section_aside {
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100vh;
  border: 1px solid red;
}
@media (min-width: 768px) {
  .og-section_aside {
    float: left;
    width: 25%;
  }
}
.ie8 .og-section_aside {
  float: left;
  width: 25%;
}
